$colores-shadow: (
    primera-capa1: 0 0 10px #ff1177,
    primera-capa2: 0 0 10px #ff1177,
    segunda-capa1: 0 0 10px #1877f2,
    segunda-capa2: 0 0 10px #1877f2,
    tercera-capa1: 0 0 10px #25d366,
    tercera-capa2: 0 0 10px #25d366,
);