@media only screen and (min-width: 320px) and (max-width: 768px) {
    .home {

        .carousel-control-next,
        .carousel-control-prev {
            display: none;
        }

        .carouselExampleIndicators {
            height: 40px;
            width: 40px;
        }

        .carousel-inner .carousel-item {
            height: 50vh;
        }

        .carousel-inner .carousel-item h2 {
            font-size: 50px;
        }

        .carousel-inner .carousel-item p {
            font-size: 20px;
        }
    }
}